#mSystemNotice:hover{
    -fx-background-color: #0066e2;
}

#mHouseInformationCheck:hover{
    -fx-background-color: #0066e2;
}

#mHouseInformationQuery:hover{
    -fx-background-color: #0066e2;
}

#mPersonalInformationManager:hover{
    -fx-background-color: #0066e2;
}

#mExitButton{
    -fx-background-color: #ff461f;
}

#mExitButton:hover{
    -fx-background-color: #ed5736;
}
